# Ignore configuration files that may contain sensitive information.
#sites/*/*settings*.php

# Ignore paths that contain generated content.
files/
sites/default/*/files
sites/immigrantjustice.org/files/*
sites/*/private

.htaccess

.idea
node_modules
ignore
.git/
.sass-cache
settings.local.php
.DS_Store